#procedures_list
  .search-wrap
    float right
    display inline-block
    position relative
    width 100%
    padding 20px 0
    .search-icon
      position absolute
      padding 8px 8%
      img
        width 25px
        height 25px
    input
      display block
      width 90%
      margin 0 auto
      height 40px
      border-radius 20px
      border 2px solid deepskyblue
      padding 10px 10px 10px 10%
      color deepskyblue
      &:focus
        outline none
  .category
    border-bottom 1px solid gray
    h1
      display inline-block
      padding 20px 10px
    .icon_wrap
      padding 12px 0px
      height 40px
      float right
      width 40px
      img
        width 40px
        height 40px
        transform scale(-1, -1)
  .service
    border-bottom 1px solid gray
    padding 15px 10px
    h1
      font-size 18px
    .add_wrap
      display inline-block
      width 10%
      height 25px
      img
        width 25px
        height 25px
    .color
      margin 6px
      display inline-block
      width 12px
      height 12px
      border-radius 50%
    .name
      position relative
      top -2px
      width 46%
      display inline-block
      height 20px
      overflow hidden
      text-overflow ellipsis
      padding-bottom 2px
    .duration
      position relative
      top -6px
      width 17%
      display inline-block
    .price
      position relative
      top -6px
      width 17%
      display inline-block
