#topnav
  .header
    background-color #376171
    text-align center
    height 50px
    .categories
      width 50%
      display inline-block
      padding-top 13px
      h1
        color white
    .icons-l
      width 25%
      display inline-block
      padding-top 8px
      height 50px
      .icon
        display inline-block
        width 15%
        .arrow-back-mr
          transform scale(-1, -1)
      .basket
        visibility hidden
        display inline-block
        width 15%
      .basket.visible
        visibility visible
        width 34%
        .trash
          padding: 0px 20px 
      .hidden
        visibility hidden
        .arrow-back
          width 16px
        .trash
          position relative
          width 33px
          top -2px
    .icons-r
      width 25%
      display inline-block
      padding-top 11px
      .icon
        display inline-block
        width 50%
        .add
          height 30px
        .more
          height 30px
  .topnav-buttons
    text-align center
    .button
      background-color red
      display inline-block
      height 50px
      width 50%
      padding-top 13px
      h1
        color white
    .active
      background-color rgba(255, 151, 177, 1)
